body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
.heading-color {
  color: #bfff00;
}
.container {
  display: flex;
  margin-bottom: 100px;
}
.half-witdh {
  width: 50%;
  padding-left: 5%;
}
.half-witdh img {
  width: 60%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(#ff5050, #ffcccc);
  padding: 10px 40px;
  border-radius: 10px;
  color: antiquewhite;
  font-weight: 700;
}
.banner {
  background-image: url(images/tips-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#align {
  text-align: center;
}
.recipes {
  width: 30%;
  margin: 5% 5%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 40px grey;
}
.recipes img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}
footer {
  background: #111;
  text-align: center;
  color: whitesmoke;
  padding: 20px;
}
#text-colour {
  color: tomato;
}
